################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/libidn-1.24.tar.gz
md5sum=764d7258eeb273941680499fab2c7367

[mirrors]
gentoo=gentoo.tiscali.nl/distfiles

